@font-face {
    font-family: "spooky-letra";
    src: url("/fonts/SedgwickAveDisplay-Regular.ttf");
}

$color-primario: magenta;
$color-descripcion: #FF4500;
$spooky: "spooky-letra";


@mixin flex-box($justify:center,$align:center){
     display: flex;
     justify-content: $justify;
     align-items: $align;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 img {
    width: 40px;
    height: 40px;
}


ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: linear-gradient(45deg, #5D0A5D, #39024C, #39024C, #5D0A5D,rgb(126, 107, 1));
    color: black;
}

@keyframes aparicion {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }


}
@keyframes cover {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0.75;
    }

    60% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.25;
    }

    100% {
        opacity: 0;
    }
}

