.galeria {
    font-size: 1rem;
    padding: 2em 1em;

    &__titulo{
        text-align: center;
    }

    &__titulocontenedor {
        padding-bottom: 10px;
    }
    
    & h3 {
        background-color: black;
        padding: 10px;
        color: darkmagenta;
        border: solid white;
        font-family: $spooky;
    }

    &__contenedor {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__destacada{
        padding-bottom: 20px;

        &--texto{
            font-size: 1.5rem;
            text-align: center;
            font-family: spooky-letra;
        }
    }
    &__imagen{

        &:hover{
            filter: invert(10%);

                & .galeria__imagen--texto {
                    opacity: 1;
                }
        }

        &--texto {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 10px;
            opacity: 0;
            transition: opacity 0.5s ease;
          }
    }
     
}

@media (min-width:0px) {
    .galeria{
        &__contenedor {
            display: grid;
            grid-template-columns:repeat(2,1fr);
            grid-template-rows: repeat(2,minmax(100px,200px));
           & img{
            width: 100%;
            height: 92%;
           }
        }
        &__destacada{
            grid-row: span 1;
            grid-column: span 2;
        }
    }
}

@media (min-width:600px) {
    .galeria{
        &__contenedor {
            display: flex;
            flex-wrap: wrap;
            align-content: center;
           & img{
            width: 600px;
            height: 300px;
           }
        }
    }
    
 
}

@media (min-width:1024px) {
    .galeria{
        &__contenedor {
            display: grid;
            grid-template-columns:repeat(4,0.25fr);
            grid-template-rows: repeat(2,minmax(100px,200px));
           & img{
            width: 100%;
            height: 100%;
           }
        }
        &__destacada{
            grid-row: span 2;
            grid-column: span 2;
        }
    }

}
