.portada{
    background-image: url(https://art.ngfiles.com/images/385000/385059_saucedonkey_king-boo.png?f1446019347);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    text-shadow: #13011a;
    @include flex-box(center,center);

    &__titulo{
        font-size: 2rem;
        color: white;
        background-color: black;
        border: solid magenta;
        font-family: $spooky;
        text-align: center
        
    }

    &__introduccion{
        font-size: 1.5rem;
        color: white;
        background-color: black ;
        width: 50%;
        text-align: center;
        border: solid magenta;
    }

    
}

.kingboo{
    padding: 10px;
    font-size: 2rem;

    &__titulo{
        padding-bottom: 10px;
        font-family:$spooky;
        color:beige;
    }

    &__descripcion{
        font-size: 1.5rem;
        text-align: left;
        width: 90%;
        color: $color-descripcion;
    }


}

@MEDIA (max-width:768px) {

    .portada{
    width: 100%;
    height: 400px;
    &__titulo{
        font-size: 1.5rem;
        }
    &__introduccion{
        font-size: 1rem;
    }
    }

    .kingboo{
        font-size: 1.2rem;
        &__titulo{
            padding-bottom: 10px;
        }
        &__descripcion{
            font-size: 0.8rem;
            width: 90%;
        }
    }
}


@MEDIA (max-width:540px) {
    .portada{
    width: 100%;
    height: 300px;
        &__titulo{
            font-size: 1.5rem;
            width: 60%;
        }
        &__introduccion{
            display: none;
        }
    }
    
}