.sugerencia{
    height: 900px;
    padding: 20px;

    &__titulo{
        text-align: center;
        font-family: $spooky;
        padding: 20px;
        font-size: 3rem;
        margin-bottom: 20px;
    }

    &__form{
        font-family: $spooky;
        @include flex-box();
        flex-direction: column;
        color: $color-descripcion;
        font-size: 2rem;

        &--text{

            width: 50%;
            height: 30px;
            margin-bottom: 7%;
        }

        &--btn{
            width: 40%;
            height: 50px;
            background-color: gold;
            border: none;
            border-radius: 10px;
            color: rgb(87, 3, 3); 
            font-size: 1rem;
            font-weight: 900;
            cursor: pointer;
           
            transition: background-color 0.3s ease; 
        }
    }
}


@media (min-width:550px){
    .sugerencia{
        height: 650px;

        &__titulo{
            padding: 20px;
            font-size: 2.5rem;
            margin-bottom: 0px;
        }
    
        &__form{
            font-size: 2rem;

            &--text{
    
                width: 70%;
                height: 30px;
                margin-bottom: 5%;
            }
    
            &--btn{
                width: 28%;
                height: 50px;
                font-size: 1rem;
            }
        }
    }
}