footer {
  background-color: #1a1a1a;
  padding: 30px 0;
  font-family: 'Roboto', sans-serif;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__sugerencia {
  color: black;
}

.footer__sugerencia:hover,
.footer__sugerencia:focus {
  background-color: #333;
  border-color: #333;
  color: #fff;
}

.footer__link {
  background-color: transparent;
  border-color: #fff;
  color: #fff;
  margin-left: 15px;
}

.footer__link:hover,
.footer__link:focus {
  background-color: #fff;
  color: #1a1a1a;
}

.footer__link:last-child {
  margin-right: 0;
}

.spooky {
  color: #ff6600;
  text-shadow: 0 0 10px #ff6600;
}




@MEDIA (min-width:768px) {
  .footer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);

    &__sugerencia {
      text-align: center;
    }

    &__link {
      text-align: center;
    }

  }
}