.footer{
    padding: 1%;
    background-color:#13011a;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: repeat(2,1fr);
}

.footer__sugerencia{
    grid-row: 1/3;
}

@MEDIA (min-width:768px) {
    .footer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,1fr);
        &__sugerencia{
            text-align: center;
    }
        &__link{
            text-align: center;
    }

}
}